.input {
    padding: 2%;
}

.input-header {
    text-align: left;
    padding: 1%;
    color: #95BDEC;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(148, 186, 233), 0 0 30px rgba(148, 186, 233);
}