.login-header {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(148, 186, 233), 0 0 30px rgba(148, 186, 233);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-input {
    width: 500px;
    height: 40px;
}

.login-button {
    width: 200px;
    height: 40px;
}

.login-item {
    padding: 2vh;
}