.body {
    height: 94vh;
    width: 99vw;
    display: flex;
    justify-content: center;
}

.container {
    width: 675px;
    height: 75%;
    /*background-color: #80fdb1;*/
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
}

.selectorContainer {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    text-shadow: 0 0 10px var(--main-color), 0 0 20px var(--main-color);

    .item {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        transition: 0.3s;
        cursor: pointer;
    }

    .text:hover {
        transition: 0.3s;
        color: white;
        text-shadow: 0 0 10px white, 0 0 20px white;
    }

    .active {
        color: white;
        text-shadow: 0 0 10px white, 0 0 20px white;
    }
}