@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: "Source Code Pro", sans-serif;
    background-color: #1E1F21;
    color: white;
}

.App {
    text-align: center;
}

.inputs {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали по центру */
    align-items: center; /* Выравнивание по вертикали по центру */
}