.rate-container {
    font-family: "Source Code Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 360px;
    font-weight: bold;
    height: 65vh;
}

.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 48px;
    color: rgb(255, 222, 138);
    text-shadow: 0 0 10px rgba(255, 222, 138), 0 0 30px rgba(255, 222, 138);
}

.rate-star {
    transition: 0.3s;
    scale: 1;
    user-select: none;
    color: #2A2B2E;
    /*color: rgba(255, 222, 138, 0.18);*/
    /*text-shadow: 0 0 10px rgba(255, 222, 138, 0.18), 0 0 30px rgba(255, 222, 138, 0.18);*/
    display: inline-grid;
}

.rate-star-active {
    transition: 0.3s;
    scale: 1.1;
    user-select: none;
    color: #FFDE8A;
    text-shadow: 0 0 10px rgba(255, 222, 138, 0.5), 0 0 30px rgba(255, 222, 138, 0.7), 0 0 150px rgba(255, 222, 138);
}