.navbar {
    font-family: "Source Code Pro", sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали */
    padding: 0 3vh;
    /*border-bottom: 1px solid #95BDEC;*/
    /*box-shadow: 0 0 10px #95BDEC;*/
    height: 5vh;
}

.logo-container {
    margin-right: 20px;
    height: 80px;
    width: auto;
}

.logo {
    height: 80px; /* Высота логотипа (настройте по вашему желанию) */
    width: auto; /* Ширина регулируется автоматически в соответствии с высотой */

    font-weight: bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #95BDEC;
    text-shadow: 0 0 10px rgba(148, 186, 233), 0 0 30px rgba(148, 186, 233);
}

.nav-list {
    list-style: none; /* Убираем маркеры у списка */
    margin: 0;
    padding-left: 16vw;
    display: flex; /* Сделаем элементы горизонтальными */
    justify-content: center;
}

.nav-item {
    margin-left: 5vw;
    margin-right: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    transition: color 0.3s ease; /* Анимация цвета текста */
    font-size: 24px;
    font-weight: bold;
    color: #95BDEC;
    text-shadow: 0 0 10px rgba(148, 186, 233), 0 0 30px rgba(148, 186, 233);
    text-decoration: none; /* - убирает подчеркивание */
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #98C0ED;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-item:hover {
    color: #98C0ED;
}

.nav-item:hover::after {
    width: 100%;
}